html, body, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, p,
header, hgroup, nav, section, article, aside, footer, figure, figcaption , div {
    margin: 0;
    padding: 0;
    font-size: 100%;
	list-style:none;
	line-height:0;
}
body {
	background-size: 1px auto;
	background-repeat: repeat-x;
	background-position: left top;
	text-align: center;
	background-color:#ffffff;
	background-image: url(../img/bg_pink.png);
	line-height: 1;
	font-style: normal;
	font-weight: 200;
	font-size:100%;
	width: 100%;
	color:#000000;
	-webkit-text-size-adjust: none;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "sans-serif";
}

.clrfx:after {
    content:" ";
    display:block;
    clear:both;
}

a {
	outline:none;
}

img {
	width:100%;
	height:auto;
}

.wrapper {
  width:100%;
  position: fixed;
  top:0;
  left:0;
  z-index: 1;
}

.wrap {
	max-width: 1000px;
	width: 90%;
	margin: 0 auto;
}

.gotoofficial {
	width: 152px;
	line-height: 1;
	text-align: right;
	margin: 0 0 0 auto;
}

#mainvisual {
	position: relative;
	z-index: 2;
	margin: 20px 0 0 0;
	background-image: url(../img/mainvisual_pc.png);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 1470px auto;
	height: 598px;
	display: block;
}

#mainvisual h1 {
	opacity: 0;
	font-size: 1em;
	line-height: 0;
}

#mainvisual_sp {
	margin: 0 0 0 0;
	position: relative;
	z-index: 2;
	display: none;
}

.contents {
	position: relative;
	z-index: 1;
	margin-top: -66px;
	background-image: url(../img/bg_gray.png);
	background-size: 8px 8px;
	background-repeat: repeat;
}

.contents p {
	line-height: 1;
	text-align: center;
}

.intro_text {
	padding: 100px 0;
}

.intro_text_pc {
	display: block;
	max-width: 680px;
	width: 100%;
	margin: 0 auto;
}

.intro_text_sp {
	display: none;
	max-width: 285px;
	width: 100%;
	margin: 0 auto;
}

.ttl1 {
	width: 531px;
	line-height: 1;
	padding: 0 0 35px 0;
	margin: 0 auto;
}

.cards_list {
	margin: 0 0 85px 0;
}

.cards_list li {
	float: left;
	width: 30%;
	margin-right: 5%;
	margin-bottom: 5%;
}

.cards_list li:nth-child(3n) {
	margin-right: 0;
}

.cards_list1 li {
	float: left;
	width: 30%;
	margin-right: 3%;
	margin-bottom: 5%;
	margin-left: 17%;
}

.cards_list1 li:nth-child(2n) {
	float: left;
	width: 30%;
	margin-right: 17%;
	margin-bottom: 5%;
	margin-left: 3%;
}

.attention {
	padding: 30px;
	border-radius: 10px;
	background-color: #ffffff;
}

.attention h4 {
	line-height: 1.5;
	text-align: left;
	font-size: 1.1em;
	padding: 0 0 5px 0;
}

.attention h5 {
	line-height: 1.5;
	text-align: left;
	padding: 0 0 5px 0;
}

.attention p {
	font-size: 0.9em;
	line-height: 1.9;
	text-align: left;
	padding: 0 0 30px 0;
}

.attention p.imghowto {
	padding: 0;
}

.attention .clrfx {
	border-top:solid 1px #dddddd;
	padding: 30px 0 0 0;
}

.attention .left {
	float: left;
	width: 47%;
}

.attention .right {
	float: right;
	width: 47%;
	padding-left: 3%;
	border-left: solid 1px #dddddd;
}

.attention p.attention_s {
	font-size: 0.7em;
	padding: 0 0 0 0;
}

.attention .right img {
	max-width: 294px;
}

.btnline {
	max-width: 539px;
	display: block;
	margin: 0 auto;
	padding: 50px 0;
}

#footer {
	font-size: 0.7em;
	padding: 0 0 50px 0;
	color: #999999;
}

.cardarea {
	max-width: 570px;
}

.imgcard {
	padding: 0 0 20px 0;
}

#cboxNext {
	background-image:url(../img/btn_right.png);
	background-size: 73px auto;
	background-position: 0 0;
	background-repeat: no-repeat;
	height: 73px;
	width: 73px;
	position: absolute;
	right:-90px;
	top:50%;
	transform: -webkit-translateY(-50%);
	transform: translateY(-50%);
}

#cboxNext:hover {
	background-position: 0 0;
}

#cboxPrevious {
	background-image:url(../img/btn_left.png);
	background-size: 73px auto;
	background-position: 0 0;
	background-repeat: no-repeat;
	height: 73px;
	width: 73px;
	position: absolute;
	left:-90px;
	top:50%;
	transform: -webkit-translateY(-50%);
	transform: translateY(-50%);
}

#cboxPrevious:hover {
	background-position: 0 0;
}

@media screen and (max-width : 999px ) {
	.cards_list li , .cards_list1 li {
		width: 48%;
		margin-right: 0%;
		margin-left: 0;
	}
	.cards_list li:nth-child(3n) , .cards_list1 li:nth-child(3n) {
		margin-right: 0%;
	}
	.cards_list li:nth-child(2n) , .cards_list1 li:nth-child(2n) {
		width: 48%;
		float: right;
		margin-right: 0;
		margin-left: 0;
	}

}

@media screen and (max-width : 800px ) {
	#mainvisual {
		display: none;
	}
	#mainvisual_sp {
		display: block;
	}
	.attention .clrfx {
		border-top:solid 1px #dddddd;
		padding: 0 0 0 0;
		margin: 30px 0 0 0;
	}
	.attention .left {
		float: none;
		width: 100%;
	}
	.attention .right {
		float: none;
		width: 100%;
		padding-left: 0;
		border-left:none;
	}
	.attention p {
		padding: 0;
	}
	.attention h5 {
		padding: 30px 0 5px 0;
	}
	.intro_text_pc {
		display: none;
	}
	.intro_text_sp {
		display: block;
	}
	#cboxNext {
		background-size: 40px auto;
		height: 40px;
		width: 40px;
		right:-20px;
		border-radius: 40px;
		box-shadow: 0 0 20px #000000;
	}
	#cboxPrevious {
		background-size: 40px auto;
		height: 40px;
		width: 40px;
		left:-20px;
		border-radius: 40px;
		box-shadow: 0 0 20px #000000;
	}
}

@media screen and (max-width : 700px ) {
	.ttl1 {
		width: 96%;
	}
}